# Configuración de Google Cloud
GCP_PROJECT_ID=your-project-id
BQ_DATASET_ID=your-dataset-id

# Credenciales de Tebra
TEBRA_USER=your-tebra-username
TEBRA_PASSWORD=your-tebra-password
TEBRA_CUSTOMER_KEY=your-customer-key

# Google Sheets Keys
SHEET_KEY=your-sheet-key
PATIENT_SHEET_KEY=your-patient-sheet-key
INSURANCE_SHEET_KEY=your-insurance-sheet-key
